# Google Maps JavaScript API Key (Must have Maps JS API, Street View, and Directions API enabled)
VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

# n8n Chatbot Webhook URL
VITE_N8N_CHAT_URL=url

# n8n Itinerary Webhook URL
VITE_N8N_ITINERARY_WEBHOOK_URL=url